.about{
    background-color: #d5d5d5a6;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.about-head{
    line-height: 36px;
}
.abiutImg{
    border: 5px solid #0D6EFD;
    border-radius: 8px;
    margin: 20px;
}
.abiutImg img{
    width: 100%;
}
.aboutsubHead{
    color: rgb(71, 69, 69);
    font-size: 1.2 rem;
}